:root{
    /* color */
    --primary-color: hsl(129, 17%, 48%);
    --secondary-color: hsl(130, 17%, 48%);
    --third-color: hsl(120, 25%, 75%);
    --bodycolor:#fff;


/* font */

/* z-index */

/* nav */
--nav-height: 44px;
}

/* nav */
body{
    font-family: var(--bodycolor);
    background-color: var(--bodycolor);
}
body>header{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
nav.container{
    background-color: var(--primary-color);
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    color: #fff;
    font-size: var();
}